body {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100vh;
     justify-content: center;
     background-color: #222;
     color: #fff;
     font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}
 .image-container {
     position: relative;
     display: inline-block;
     overflow: hidden;
}
 .line {
     position: absolute;
     background-color: red;
     z-index: 1;
     pointer-events: none;
}
 #lineX {
     height: 1px;
     width: 100%;
}
 #lineY {
     width: 1px;
     height: 100%;
}
 input[type="file"] {
     display: none;
}
input[type="text"] {
    background: #222;
    border: 1px solid #000;
    color: #ccc;
    width: 80px;
    height: 15px;
    text-align: center;
    font-size: 12px;
}
input[type="text"]:hover, input[type="text"]:focus {
    outline: 0;
}
#check-color {
    width: 100%;
    height: 20px;
    margin: 1px;
    background: #444444;
}
 label {
     box-shadow:inset 0px 34px 0px -15px #b54b3a;
     background-color:#a73f2d;
     border:1px solid #241d13;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:15px;
     font-weight:bold;
     padding:9px 23px;
     text-decoration:none;
     text-shadow:0px -1px 0px #7a2a1d;
}
 label:hover {
     background-color:#b34332;
}
 label:active {
     position:relative;
     top:1px;
}
 button {
     box-shadow:inset 0px 34px 0px -15px #b54b3a;
     background-color:#a73f2d;
     border:1px solid #241d13;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:15px;
     font-weight:bold;
     padding:9px 23px;
     text-decoration:none;
     text-shadow:0px -1px 0px #7a2a1d;
     float: right;
}
 button:hover {
     background-color:#b34332;
}
 button:active {
     position:relative;
     top:1px;
}
 #lineDiagonal {
     position: absolute;
     width: 1px;
     height: 2000px;
     background-color: blue;
     z-index: 1;
}
 .wrapper {
     position: relative;
     display: inline-block;
}
 .send-img {
     margin-top: -40px;
 }
 .coordinates {
     position: absolute;
     top: 100%;
     left: 10px;
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
     padding: 5px 10px;
     border-radius: 5px;
     font-size: 12px;
     margin-top: 50px;
     display: none;
}
 .selection-box {
     position: absolute;
     border: none;
     pointer-events: none;
     display: none;
     background-color: rgba(255, 255, 255, 0.7);
     backdrop-filter: invert(1);
}
 .log-coordinates {
     position: absolute;
     font-size: 12px;
     color: white;
     background-color: rgba(0, 0, 0, 0.7);
     border-radius: 5px;
     padding: 5px;
     z-index: 10;
     pointer-events: none;
     display: none;
}
 .clicked-coordinate {
     position: absolute;
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
     padding: 2px 4px;
     border-radius: 3px;
     font-size: 12px;
     pointer-events: none;
     white-space: pre;
}
 .zoom-lens {
     position: absolute;
     display: none;
     width: 100px;
     height: 100px;
     border: 1px solid #ccc;
     cursor: none;
     background-repeat: no-repeat;
     pointer-events: none;
}
 .container .img-map, .img-info {
     background: rgb(0, 0, 0, 0.5);
     border: 1px solid rgba(0, 0, 0, 0.9);
     padding: 10px;
     min-width: 350px;
}
 .container tr td {
     vertical-align: top;
}
 .log-clicks {
     min-width: 100%;
     text-align: center;
}
.log-clicks tr th {
    background: rgba(0, 0, 0, 0.3)!important;
    border: 1px solid rgba(0, 0, 0, 0.3)!important;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    font-size: 14px;
}
.log-clicks tr th:first-child {
    text-align: left;
    padding-left: 10px;
}
 .log-clicks tr td {
     background: rgba(0, 0, 0, 0.1)!important;
     border: 1px solid rgba(0, 0, 0, 0.3)!important;
}
 a {
     color: #a73f2d;
     text-decoration: none;
}
 a:hover {
     color: #b54b3a;
}
 .dev {
     text-align: center;
     padding-top: 10px;
     font-size: 12px;
}

#red-point {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    display: none;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

